In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.datasets import make_blobs
import matplotlib.pyplot as plt

In [7]:
x, y = make_blobs(n_samples=100, centers=4, n_features=2, cluster_std=[1, 1.5, 2, 2], random_state=7)

In [9]:
x.shape

(100, 2)

In [10]:
y.shape

(100,)

In [18]:
df = pd.DataFrame(
    {
    'x1' : x[:,0],
    'x2': x[:,1],
    'y' : y
    }
        )
df

           x1        x2  y
0   -3.384261  5.221740  1
1   -1.836238 -7.735384  3
2   -7.456176  6.198874  0
3   -1.785043  1.609749  1
4  -10.124910  6.133805  0
..        ...       ... ..
95   7.072755 -0.259937  2
96  -2.626873 -7.228570  3
97  -1.521099  1.802284  1
98  -9.216388  6.670846  0
99  -1.681382  6.414631  1

[100 rows x 3 columns]

In [ ]:
def plot_2d_clusters(x, y, ax):
    y_uniques = pd.series(y).unique()

    for cluster in y_uniques:
        x[y==cluster].plot(
            title=f'''{len(y_uniques)} Clusters''',
            kind='scatter',
            x='x1',
            y='x2',
            marker=f'${cluster}'
            ax=ax
            
        )